<fieldset class='nested menu-item-edit' data-nested-item='true' data-sortable-item='true'>

  <%= render 'refinery/menus/admin/menus/shared_menu_item_fields', :f => f %>
  
  <div>
    <% if f.object.sub_menu_items.present? %>
      <%= f.label :sub_menu_items %>
      <%= f.fields_for :menu_items do |j| %>
        <%= render 'refinery/menus/admin/menus/sub_menu_item_fields', :f => j %>
      <% end %>
    <% end %>
    <%= link_to_add_sub_fields 'Add sub-menu item', f, :menu_items %>
  </div>
</fieldset>
